# folders
.coverage_artifacts/
.coverage_cache/
.coverage_contracts/
artifacts/
bin/
build/
cache/
coverage/
dist/
lib/
node_modules/
typechain/

# files
*.env
*.log
*.tsbuildinfo
contracts/LICENSE.md
contracts/README.md
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
